In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import datetime

In [3]:
from IPython.display import display, HTML

In [4]:
df=pd.DataFrame

In [5]:
df=pd.read_csv('Players20.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18278 entries, 0 to 18277
Columns: 104 entries, sofifa_id to rb
dtypes: float64(16), int64(45), object(43)
memory usage: 14.5+ MB

In [7]:
df.head(10)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
5,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
6,192448,https://sofifa.com/player/192448/marc-andre-te...,M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,203376,https://sofifa.com/player/203376/virgil-van-di...,V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool,...,79+3,83+3,83+3,83+3,79+3,81+3,87+3,87+3,87+3,81+3
8,177003,https://sofifa.com/player/177003/luka-modric/2...,L. Modrić,Luka Modrić,33,1985-09-09,172,66,Croatia,Real Madrid,...,81+3,81+3,81+3,81+3,81+3,79+3,72+3,72+3,72+3,79+3
9,209331,https://sofifa.com/player/209331/mohamed-salah...,M. Salah,Mohamed Salah Ghaly,27,1992-06-15,175,71,Egypt,Liverpool,...,70+3,67+3,67+3,67+3,70+3,66+3,57+3,57+3,57+3,66+3

In [8]:
col = list(df.columns)  # To print all the columns
print(col)

['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club', 'overall', 'potential', 'value_eur', 'wage_eur', 'player_positions', 'preferred_foot', 'international_reputation', 'weak_foot', 'skill_moves', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'team_position', 'team_jersey_number', 'loaned_from', 'joined', 'contract_valid_until', 'nation_position', 'nation_jersey_number', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning', 'player_traits', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb']

In [9]:
df.describe()

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
count,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,1.827800e+04,18278.000000,18278.000000,18278.000000,...,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000,18278.000000
mean,219738.864482,25.283291,181.362184,75.276343,66.244994,71.546887,2.484038e+06,9456.942773,1.103184,2.944250,...,48.383357,58.528778,46.848889,47.640333,45.606631,16.572765,16.354853,16.212934,16.368038,16.709924
std,27960.200461,4.656964,6.756961,7.047744,6.949953,6.139669,5.585481e+06,21351.714095,0.378861,0.664656,...,15.708099,11.880840,20.091287,21.585641,21.217734,17.738069,16.996925,16.613665,17.136497,18.038125
min,768.000000,16.000000,156.000000,50.000000,48.000000,49.000000,0.000000e+00,0.000000,1.000000,1.000000,...,7.000000,12.000000,1.000000,5.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,204445.500000,22.000000,177.000000,70.000000,62.000000,67.000000,3.250000e+05,1000.000000,1.000000,3.000000,...,39.000000,51.000000,29.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,226165.000000,25.000000,181.000000,75.000000,66.000000,71.000000,7.000000e+05,3000.000000,1.000000,3.000000,...,49.000000,60.000000,52.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,240795.750000,29.000000,186.000000,80.000000,71.000000,75.000000,2.100000e+06,8000.000000,1.000000,3.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,252905.000000,42.000000,205.000000,110.000000,94.000000,95.000000,1.055000e+08,565000.000000,5.000000,5.000000,...,92.000000,96.000000,94.000000,92.000000,90.000000,90.000000,92.000000,93.000000,91.000000,92.000000

In [10]:
df = df.drop(['sofifa_id', 'player_url', 'long_name', 'body_type', 'real_face', 'loaned_from', 'nation_position', 'nation_jersey_number'], axis=1)

In [11]:
df.isnull().any()

short_name    False
age           False
dob           False
height_cm     False
weight_kg     False
              ...
lb             True
lcb            True
cb             True
rcb            True
rb             True
Length: 96, dtype: bool

In [12]:
pos = ['ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram',
       'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb']
for i in pos:
    fin=df[i].apply(lambda x:str (x).split("+")[0])
    df[i] = fin[0]
df[pos] = df[pos].fillna(0)
df[pos] = df[pos].astype(int)

In [13]:
df[pos]

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,89,89,89,93,93,93,93,93,93,93,...,68,66,66,66,68,63,52,52,52,63
1,89,89,89,93,93,93,93,93,93,93,...,68,66,66,66,68,63,52,52,52,63
2,89,89,89,93,93,93,93,93,93,93,...,68,66,66,66,68,63,52,52,52,63
3,89,89,89,93,93,93,93,93,93,93,...,68,66,66,66,68,63,52,52,52,63
4,89,89,89,93,93,93,93,93,93,93,...,68,66,66,66,68,63,52,52,52,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,89,89,89,93,93,93,93,93,93,93,...,68,66,66,66,68,63,52,52,52,63
18274,89,89,89,93,93,93,93,93,93,93,...,68,66,66,66,68,63,52,52,52,63
18275,89,89,89,93,93,93,93,93,93,93,...,68,66,66,66,68,63,52,52,52,63
18276,89,89,89,93,93,93,93,93,93,93,...,68,66,66,66,68,63,52,52,52,63
18277,89,89,89,93,93,93,93,93,93,93,...,68,66,66,66,68,63,52,52,52,63

In [14]:
pd.get_dummies(df['work_rate']) 
#https://www.kaggle.com/nitinchan/fifa-20-analysis-viz-recommendation
#this data cleaning is left for future. 2nd data cleaning step

,High/High,High/Low,High/Medium,Low/High,Low/Low,Low/Medium,Medium/High,Medium/Low,Medium/Medium
0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
18273,0,0,0,0,0,0,1,0,0
18274,0,0,0,0,0,0,0,0,1
18275,0,0,0,0,0,1,0,0,0
18276,0,0,0,0,1,0,0,0,0
18277,0,0,0,0,0,0,0,0,1

In [15]:
#delete if not required
new = df["dob"].str.split("-", n = 2, expand = True)
df["Month"] = new[1].astype(int)

In [16]:
df['bmi'] = df['weight_kg'] / (df['height_cm']/100)**2

In [17]:
df.isnull().sum()

short_name    0
age           0
dob           0
height_cm     0
weight_kg     0
             ..
cb            0
rcb           0
rb            0
Month         0
bmi           0
Length: 98, dtype: int64

In [18]:
skills = ['dribbling','defending','physic','passing','shooting','pace']

In [19]:
df[skills]

       dribbling  defending  physic  passing  shooting  pace
0           96.0       39.0    66.0     92.0      92.0  87.0
1           89.0       35.0    78.0     82.0      93.0  90.0
2           95.0       32.0    58.0     87.0      85.0  91.0
3            NaN        NaN     NaN      NaN       NaN   NaN
4           94.0       35.0    66.0     86.0      83.0  91.0
...          ...        ...     ...      ...       ...   ...
18273       33.0       47.0    51.0     28.0      23.0  57.0
18274       35.0       48.0    48.0     33.0      24.0  58.0
18275       45.0       48.0    51.0     44.0      35.0  54.0
18276       47.0       45.0    52.0     47.0      35.0  59.0
18277       45.0       47.0    55.0     51.0      32.0  60.0

[18278 rows x 6 columns]

In [20]:
for skill in skills:
    df[skill] = df[skill].fillna(df[skill].median())

In [21]:
df =df.fillna(0)

In [22]:
df

,short_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,value_eur,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,Month,bmi
0,L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona,94,94,95500000,...,66,66,68,63,52,52,52,63,6,24.913495
1,Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus,93,93,58500000,...,66,66,68,63,52,52,52,63,2,23.735308
2,Neymar Jr,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,92,105500000,...,66,66,68,63,52,52,52,63,2,22.204082
3,J. Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,93,77500000,...,66,66,68,63,52,52,52,63,1,24.615211
4,E. Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,91,90000000,...,66,66,68,63,52,52,52,63,1,24.163265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,Shao Shuai,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,56,40000,...,66,66,68,63,52,52,52,63,3,22.835010
18274,Xiao Mingjie,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,56,40000,...,66,66,68,63,52,52,52,63,1,21.066743
18275,Zhang Wei,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,56,40000,...,66,66,68,63,52,52,52,63,5,21.678807
18276,Wang Haijian,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,54,40000,...,66,66,68,63,52,52,52,63,8,21.621622
18277,Pan Ximing,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,51,40000,...,66,66,68,63,52,52,52,63,1,23.547881

In [23]:
plt.figure(figsize=(22,14))
hm=sns.heatmap(df[['age','overall','potential', 'value_eur', 'wage_eur','skill_moves', 'work_rate','pace', 'shooting', 
                   'passing', 'dribbling','defending', 'physic','attacking_short_passing', 'attacking_volleys', 
                   'skill_dribbling', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 
                   'movement_sprint_speed', 'movement_agility', 'movement_reactions','movement_balance', 'power_shot_power',
                   'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots']].corr(), 
                annot=True,linewidths=.5, cmap='Blues')
sns.set_context('paper',font_scale=,rc={'fontsize':30,'axes.titlesize':30,'axes.labelsize':60})
hm.set_title(label='Heatmap of dataset')
hm

SyntaxError: invalid syntax (<ipython-input-23-73a7efac6f36>, line 8)

In [ ]:
sns.set(style ="dark", palette="colorblind", color_codes=True)
plt.figure(figsize=(12,8))
ax = sns.distplot(df['age'], bins = 50, kde = True, color='g')
ax.set_xlabel(xlabel="Player\'s age", fontsize=13)
ax.set_ylabel(ylabel='Number of players', fontsize=13)
ax.set_title(label='Histogram of players age', fontsize=18)
plt.show()

In [ ]:
oldest= df.sort_values('age', ascending = False)[['short_name', 'nationality', 'age','club']].head(3)
oldest.set_index('short_name', inplace=True)
print(oldest)

In [ ]:
youngest = df.sort_values('age', ascending = True)[['short_name', 'nationality', 'age','club']].head(25)
youngest.set_index('short_name', inplace=True)
print(youngest)

In [ ]:
# Compare six clubs in relation to age
some_clubs = ('Liverpool', 'Real Madrid', 'Paris Saint-Germain', 'FC Barcelona', 'FC Bayern München', 'Manchester City')
df_club = df.loc[df['club'].isin(some_clubs) & df['age']]
plt.figure(figsize=(12,8))
ax = sns.violinplot(x="club", y="age", data=df_club,palette='viridis');
ax.set_title(label='Distribution of age in some clubs', fontsize=20)
ax.set_xlabel(xlabel="age", fontsize=20)
ax.set_ylabel(ylabel='club', fontsize=20)
plt.show()

In [ ]:
df['joined']

In [ ]:
# The longest membership in the club
now = datetime.datetime.now()
df['Joined_Year'] = df['joined'].apply(lambda x: str(x).split('-')[0])
df['contract'] = (df['Joined_Year'].dropna().map(lambda x: now.year - int(x))).astype('int').dropna()
membership = df[['short_name', 'club', 'contract']].sort_values(by = 'contract', ascending = True).dropna().head()
membership.set_index('short_name', inplace=True)
membership

In [ ]:
df['Joined_Year']

In [ ]:
# The oldest team
df.groupby(['club'])['age'].mean().sort_values(ascending = False).head(5)

In [ ]:
# The youngest team
df.groupby(['club'])['age'].mean().sort_values(ascending = True).head(5)

In [ ]:
# The clubs and their players overalls
plt.figure(figsize=(10,8))
some_clubs = ('Juventus', 'Real Madrid', 'Paris Saint-Germain', 'FC Barcelona', 'Legia Warszawa', 'Manchester United')
df_club = df.loc[df['club'].isin(some_clubs) & df['age'] & df['overall'] ]
ax = sns.barplot(x=df_club['club'], y=df_club['overall'], palette="rocket");
ax.set_title(label='Distribution overall in several clubs', fontsize=20);
ax.set_ylabel(ylabel="overall", fontsize=20)
ax.set_xlabel(xlabel='club', fontsize=20)
plt.show()

In [ ]:
# The best player per position
display(HTML(df.iloc[df.groupby(df['player_positions'])['overall'].idxmax()][['short_name', 'player_positions']].to_html(index=False)))

In [ ]:
 player_features = ('age','overall','potential', 'value_eur', 'wage_eur','skill_moves', 'work_rate','pace', 'shooting', 
                   'passing', 'dribbling','defending', 'physic','attacking_short_passing', 'attacking_volleys', 
                   'skill_dribbling', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 
                   'movement_sprint_speed', 'movement_agility', 'movement_reactions','movement_balance', 'power_shot_power',
                   'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots'
)

# Top three features per position
for i, val in df.groupby(df['player_positions'])[player_features].mean().iterrows():
    print('player_positions {}: {}, {}, {}'.format(i, *tuple(val.nlargest(3).index)))

In [ ]:
idx = 1
plt.figure(figsize=(15,45))
for position_name, features in df.groupby(df['player_positions'])[player_features].mean().iterrows():
    top_features = dict(features.nlargest(5))
    
    # number of variable
    categories=top_features.keys()
    N = len(categories)

    # We are going to plot the first line of the data frame.
    # But we need to repeat the first value to close the circular graph:
    values = list(top_features.values())
    values += values[:1]

    # What will be the angle of each axis in the plot? (we divide the plot / number of variable)
    angles = [n / float(N) * 2 * pi for n in range(N)]
    angles += angles[:1]

    # Initialise the spider plot
    ax = plt.subplot(9, 3, idx, polar=True)

    # Draw one axe per variable + add labels labels yet
    plt.xticks(angles[:-1], categories, color='grey', size=8)

    # Draw ylabels
    ax.set_rlabel_position(0)
    plt.yticks([25,50,75], ["25","50","75"], color="grey", size=7)
    plt.ylim(0,100)
    
    plt.subplots_adjust(hspace = 0.5)
    
    # Plot data
    ax.plot(angles, values, linewidth=1, linestyle='solid')

    # Fill area
    ax.fill(angles, values, 'b', alpha=0.1)
    
    plt.title(position_name, size=11, y=1.1)
    
    idx += 1

In [ ]:
# Top 5 left-footed players
df[df['preferred_foot'] == 'Left'][['short_name','overall']].head()

In [ ]:
# Top 5 right-footed players
df[df['preferred_foot'] == 'Right'][['short_name','overall']].head()

In [ ]:
# Better is left-footed or rigth-footed players?

sns.lmplot(x = 'shooting', y = 'dribbling', data = df,hue='preferred_foot',scatter_kws = {'alpha':0.5});
plt.xlabel('df')

In [ ]:
# The clubs with largest number of different countries
df.groupby(['club'])['nationality'].nunique().sort_values(ascending = False).head()

In [ ]:
# The clubs with the smallest number of foreigners players
df.groupby(['club'])['nationality'].nunique().sort_values().head()

In [ ]:
# Relation dribbling and crossing with respected finishing of players
plt.figure(figsize=(14,7))
cmap = sns.cubehelix_palette(rot=-.2, as_cmap=True)

ax = sns.scatterplot(x='passing', y='dribbling',
                     hue='shooting',
                     palette=cmap, sizes=(1, 1),
                     data=df)
ax.set_title(label='Relation dribbling and crossing with respected finishing of players', fontsize=20);

In [ ]:
'sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club', 'overall', 
'potential', 'value_eur', 'wage_eur', 'player_positions', 'preferred_foot', 'international_reputation', 'weak_foot', 
'skill_moves', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'team_position',
'team_jersey_number', 'loaned_from', 'joined', 'contract_valid_until', 'nation_position', 'nation_jersey_number', 'pace', 
'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed',
'gk_positioning', 'player_traits', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 
'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 
'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 
'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 
'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 
'mentality_composure', 'defending_marking', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 
'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes',

In [ ]:
# Relation stamina and age with respected sprint speed of players
cmap = sns.cubehelix_palette(rot=-.2, as_cmap=True)
ax = sns.scatterplot(x='age', y='physic',
                     hue='pace',
                     palette=cmap, sizes=(1, 1),
                     data=df)
ax.set_title(label='Relation stamina and age with respected sprint speed of players', fontsize=20);

In [ ]:
# Top five the most expensive clubs
df.groupby(['club'])['value_eur'].sum().sort_values(ascending = False).head(5)

In [ ]:
# Top five the less expensive clubs
df.groupby(['club'])['value_eur'].sum().sort_values().head(10)

In [ ]:
# Top five teams with the best players
df.groupby(['club'])['overall'].max().sort_values(ascending = False).head()

In [ ]:
# Value vs. Overall
plt.figure(figsize=(10,8))
value = df['value_eur']
ax = sns.regplot(x = value / 10000000, y = 'overall', fit_reg = False, data = df);
ax.set_title(label='Value vs. Overall', fontsize=20);

In [ ]:
# Relation potential and age with respected value of players
cmap = sns.cubehelix_palette(rot=-.2, as_cmap=True)

sns.relplot(x="age", y="potential", hue=value/100000, 
            sizes=(40, 400), alpha=.5,
            height=6, data=df);

In [ ]:
plt.figure(figsize=(10,6))
fig=sns.scatterplot(x='overall',y='value_eur',data=df,hue='age',palette='viridis')
plt.title('Ratings vs Values')
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
fig=sns.scatterplot(x='overall',y='bmi',data=df,hue='age',palette='viridis')
plt.title('Ratings vs Values')
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
fig=sns.scatterplot(x='overall',y='bmi',data=df,hue='age',palette='viridis')
plt.title('Ratings vs Values')
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
a=df['work_rate'].value_counts()
plt.pie(a,labels=a.index,autopct='%1.1f%%',shadow=True)
plt.show()